h1{
    text-align: center;
    text-decoration: underline;
    color: #3A9843;
}
h2{
    text-decoration: underline;
    color: #297332;
}
h2 .subtitulo_lugar{
    text-align: center;
}
h3{
    text-align: center;
    color: #2D7634;
}
h4{
    text-align: start;
    color: #297332;
}